.foto1{
     width: 250px;
}

.foto2{
    width: 250px;
}

.sandy{
    background-color: rgb(108, 82, 202);
}

.sandy h1{
    color: beige;
}
.perfilp{
    background-color: rgb(138, 120, 201);
}
.perfilp h1{
    color: beige;
}
.foto3{
    width: 250px;
}
.descripcion {
    background-color: rgb(103, 103, 185);
}
.descripcion h1{
    color: beige;
}

.estudios{
    
    background-color:rgb(102, 85, 255);

}


.estudios h1{
    text-align: center;
    color: beige;
}

.fotos1{
    width: 150px;
}

.fotoe3{
    width: 450px;
}

.habilidades {
background-color: rgb(67, 80, 134);
}

.habilidades h1{
    text-align: center;
    color: beige;
}

.fot{
    width: 550px;
}

.habilidades h4{
    text-align: center;

}


.experiencia{
    background-color: rgb(86, 89, 243);
}
.experiencia h1{
    text-align: center;
    color: beige;
}

.fotito{
    width: 550px;
}
.fotit {
    width: 500px;
}

.fotito2{ 
    width: 150px;
}